<%= render 'user_info', user: current_user %>
<%= render 'books/new_book', newbook: @newbook %>
<!-- 自分のインフォ｜ユーザーの一覧 -->

<h1>ユーザー一覧ページ</h1>

<h4>image</h4>
<h4>name</h4>
<% @users.each do |user| %>
<div>
  <%= image_tag user.get_profile_image(100,100) %>
  <p><%= user.name %></p>
  <p><%= link_to "Show", user_path(user) %></p>
</div>
<% end %>
