<%= render 'user_info', user: @user %>
<%= render 'books/new_book', newbook: @newbook %>
<!-- ログイン後の最初のページ　:idのインフォ｜:idの投稿一覧 -->
<h1>Books</h1>

<h4>Title</h4>
<h4>Opinion</h4>

<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <p><%= link_to book.title, book_path(book) %></p>
  <p><%= book.body %></p>
</div>
<% end %>

<p><%= link_to "プロフィール編集", edit_user_path %></p>