<h1>User info</h1>

<%= image_tag @user.get_profile_image(100,100) %>
<p>name <%= @user.name %></p>
<p>introduction <%= @user.introduction %></p>

<!-- ログイン後の最初のページ　:idのインフォ｜:idの投稿一覧 -->
<h1>Books</h1>

<h4>Title</h4>
<h4>Opinion</h4>

<% @books.each do |book| %>
<div>
  <img src="app/assets/images/default_image.jpg" alt="デフォルトイメージ">
  <p><%= link_to book.title, book_path(book) %></p>
  <p><%= book.body %></p>
</div>
<% end %>

<p><%= link_to "プロフィール編集", edit_user_path %></p>