<!-- bookのエラーメッセージ　-->

<%= render 'users/user_info', user: current_user, newbook: @newbook %>

<!-- 自分インフォ｜ブック一覧 -->

<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @books.each do |book| %>
      <td><%= image_tag book.user.get_profile_image(100,100) %></td>
      <td><%= link_to book.user.name, user_path(book.user) %></td>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.body %></td>
    <% end %>
    </tr>
  </tbody>
</table>
