<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'users/user_info', user: @book.user, newbook: @newbook %>
  </div>
  <!-- :idのユーザーのinfo｜ブックの詳細(自分なら編集ボタン表示) -->
  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td><%= image_tag @book.user.get_profile_image(100,100) %><br />
              <%= link_to @book.user.name, user_path(@book.user) %></td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path, class:"btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path, class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消してしまいますか？" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
</div>